<!DOCTYPE html> 
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include socialmeta-page.html %}
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/fablabtheme.css">
    <!-- endbuild -->

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header id="header">
        {% include header.html %}
    </header>
    <section class="header-hero">
        <div class="header-hero-image" style="background-image: url({{site.url}}/img{{ page.imageurl }})"></div>
        </div>
        <div class="header-hero-title">
            <div class="container">
                <div class="header-hero-container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <hgroup class="text-center">
                                <h1>Events</h1>
                                <h2 class="subheader"><span class="hidden-xs">Tutorials, workshops, talks and much more</span><span class="visible-xs">Tutorials, workshops, talks and much more</span></h2>
                            </hgroup>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% for banner in site.categories.banner-space limit:1 %}
                            <p class="text-center imagecredits clearfix">
                                {% if banner.caption.display != false %}
                                <span class="hidden-xs">Background image: {{banner.title}} by {{banner.caption.credits}}</span><span class="visible-xs">Image by {{banner.caption.credits}}</span>
                                {% else %}
                                <span></span>
                                {% endif %}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <!-- EVENTS HEADER -->
            <div class="section-header">
                <div class="row">
                    <div class="col-md-12">
                        <hgroup class="text-center">
                            <h1></h1>
                            <h2 class="subheader">MONTHLY 101 TUTORIALS</h2>
                        </hgroup>
                    </div>
                </div>
            </div>
            <div class="section-strip">
                <div class="row">
                    {% for event in site.posts reversed %}
                    {% if event.category contains 'recurring' %}
                    <article class="col-md-3 col-sm-3 col-xs-6 text-center event-strip lasercutting">
                        <a href="{{event.permalink}}">
                        <div class="content" style="background-image: url(../img{{event.image.thumbnail}})">
                            <div class="title">
                                <hgroup>
                                    <h3>{{ event.title }}</h3>
                                    <h4>{{ event.description }}</h4>
                                </hgroup>
                            </div>
                        </div>
                        </a>
                    </article>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- EVENTS STRIP -->
    </section>
    <section class="body-events current">
        <div class="container">
            <!-- EVENTS HEADER -->
            <div class="section-header">
                <div class="row">
                    <div class="col-md-12">
                        <hgroup class="text-center">
                            <h1></h1>
                            <h2 class="subheader">Next Events</h2>
                        </hgroup>
                    </div>
                </div>
            </div>
            <!-- EVENTS LIST NEXT-->
            <div class="section-list">
                {% assign counter=0 %}
                <!-- add 24 hours 59 min to date of post to keep it until celebrated  -->
                {% for event in site.categories.events reversed %}
                {% if event.category contains 'events' %}
                {% capture nowunix %}{{ site.time | date: '%s' }}{% endcapture %}
                {% capture posttime %}{{ event.date | date: '%s'| plus: 89940 }}{% endcapture %}
                {% capture eventdate %}{{ event.date | date: '%s'| plus: 1 }}{% endcapture %}
                {% if posttime >= nowunix %}
                    {% if counter == 0 %}
                    <hr class="event">
                    {% else %}
                    <hr class="event gray">
                    {% endif %}
                    <article class="row event" date="{{ eventdate }}">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="image" style="background-image: url(../img{{event.imageurl}})"></div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="title" lang="en">
                                        {% if event.soon %}
                                        {% capture link %} <a class="eventlink versalite disabled">MORE INFO SOON</a>{% endcapture %}
                                        {% else %}
                                        {% capture link %}<a class="eventlink versalite" href="{{event.url}}">MORE INFO</a>{% endcapture %}
                                        {% endif %}
                                        <h3>{{event.title}}</h3>
                                        <h4>{{event.hours}}<span class="visible-xs">{{event.fee}}</span></h4>
                                        <p class="visible-sm">{{event.excerpt }} {{ link }}</p>
                                        <p class="visible-xs">{{event.excerpt }}  {{ link }}</p>
                                        <p class="fee hidden-xs">{{event.fee}}</p>
                                    </div>
                                </div>
                                <div class="col-md-4 hidden-xs hidden-sm">
                                    <div class="description" lang="en">
                                        <p>{{event.excerpt }}  {{ link }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                {% assign counter=counter | plus:1 %} 
                {% endif %}
                {% endif %}
                {% endfor %}
                <hr class="event">
            </div>
        </div>
    </section>
    <section class="body-events previous">
        <div class="container">
            <!-- EVENTS HEADER -->
            <div class="section-header">
                <div class="row">
                    <div class="col-md-12">
                        <hgroup class="text-center">
                            <h1></h1>
                            <h2 class="subheader">Previous Events</h2>
                        </hgroup>
                    </div>
                </div>
            </div>
            <!-- EVENTS LIST PAST -->
            <div class="section-list">
                {% assign counter=0 %}
                {% for event in site.categories.events %}
                {% capture nowunix %}{{ site.time | date: '%s'}}{% endcapture %}
                {% capture posttime %}{{ event.date | date: '%s' | plus: 89940}}{% endcapture %}
                <!-- add 24 hours 59 min to date of post to keep it until celebrated  -->
                {% if posttime < nowunix %}
                    {% if counter == 0 %}
                    <hr class="event">
                    {% else %}
                    <hr class="event gray">
                    {% endif %}
                    <article class="row event past">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="image" style="background-image: url(../img{{event.imageurl}})"></div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="title" lang="en">
                                        {% if event.soon %}
                                        {% capture link %} <a class="eventlink versalite disabled">MORE INFO SOON</a>{% endcapture %}
                                        {% else %}
                                        {% capture link %}<a class="eventlink versalite" href="{{event.url}}">MORE INFO</a>{% endcapture %}
                                        {% endif %}
                                        <h3>{{event.title}}</h3>
                                        <h4>{{event.hours}}<span class="visible-xs">{{event.fee}}</span></h4>
                                        <p class="visible-sm">{{event.excerpt }} {{ link }}</p>
                                        <p class="visible-xs">{{event.excerpt }}  {{ link }}</p>
                                        <p class="fee hidden-xs">{{event.fee}}</p>
                                    </div>
                                </div>
                                <div class="col-md-4 hidden-xs hidden-sm">
                                    <div class="description" lang="en">
                                        <p>{{event.excerpt }}  {{ link }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                {% assign counter=counter | plus:1 %}     
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="subscribe">
        {% include _subscribe.html %}
    </section>
    <section class="footer">
        {% include footer.html %}
    </section>
    {% include scripts-home.html %}
    <script>
        new Share('.share-button', {
            url: 'http://fablab.saul.ie{',
            image: 'http://fablab.saul.ie/thumbnail.jpg',
            title: 'Fab Lab Limerick',
            text: 'A space for makers in Limerick city',
            ui: {
                button_icon: 'false',
                button_text: 'Share it',
                button_font: 'false',
                button_background: 'none',
                button_color: '#4A4A4A'
            },
            networks: {
                facebook: {
                    enabled: true,
                    load_sdk: false
                },
                twitter: {
                    enabled: true
                }
            }
        });
    </script>
    {% include googleanalytics.html %}
  </body>
</html>
