<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include socialmeta-home.html %}
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/_bower_components/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css">
    <link rel="stylesheet" href="/css/fablabtheme.css">
    <!-- endbuild -->

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header id="header">
        {% include header.html %}
    </header>
    <section id="headerslideshow">
        {% include carousel.html %}
    </section>
    <section id="events">
        <div class="container">
            <!-- EVENTS HEADER -->
            <div class="section-header">
                <div class="row">
                    <div class="col-md-12">
                        <hgroup class="text-center">
                            <h1>Events</h1>
                            <h2 class="subheader"><span class="hidden-xs">This Year Cultural Programme Is Supported <br>by Limerick City Of Culture 2014</span><span class="visible-xs">Supported By Limerick <br>city Of Culture 2014</span></h2>
                        </hgroup>
                    </div>
                </div>
            </div>
            <!-- EVENTS LIST -->
            <div class="section-list">
                {% for event in site.categories.events reversed limit:3 %}
                {% if event.past %}
                {% else %}
                    {% if forloop.first %}
                    <hr class="event">
                    {% else %}
                    <hr class="event gray">
                    {% endif %}
                    <article class="row event free">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="image" style="background-image: url(../img{{event.image.url}})"></div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="title" lang="en">
                                        {% if event.soon %}
                                        {% capture link %} <a class="eventlink versalite disabled">MORE INFO SOON</a>{% endcapture %}
                                        {% else %}
                                        {% capture link %}<a class="eventlink versalite" href="{{event.url}}">MORE INFO</a>{% endcapture %}
                                        {% endif %}
                                        <h3>{{event.title}}</h3>
                                        <h4>{{event.hours}}<span class="visible-xs">{{event.fee}}</span></h4>
                                        <p class="visible-sm">{{event.excerpt }} {{ link }}</p>
                                        <p class="visible-xs">{{event.excerpt }}  {{ link }}</p>
                                        <p class="fee hidden-xs">{{event.fee}}</p>
                                    </div>
                                </div>
                                <div class="col-md-4 hidden-xs hidden-sm">
                                    <div class="description" lang="en">
                                        <p>{{event.excerpt }}  {{ link }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endif %}
                {% endfor %}
                <hr class="event">
            </div>
            <!-- END EVENTS LIST -->
            <!-- EVENTS LINK -->
            <div class="section-link">
                <hr class="top none">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="/events/" class="text-center"><span class="hidden-xs">Check All Our Talks, Workshops And Exhibitions</span><span class="visible-xs">Check All Our Events</span></a>
                    </div>
                </div>
                <hr class="none">
            </div>
            <!-- EVENTS LINK -->
        </div>
    </section>
    <section id="space">
        <div class="container">
           <!--  <div class="imageTop"></div> -->
            <div class="visor">
                <div class="centradovertical">
                    <div class="row">
                        <div class="col-sm-12">
                            <hgroup class="text-center">
                                <h1 style="color:white">Space</h1>
                                <h2 class="subheader" style="color:white"><span class="hidden-xs">Who We Are And How You Can Use The Fab Lab<br>for Your Own Creative Projects</span><span class="visible-xs">How You Can Use<br>the Fab Lab</span></h2>
                            </hgroup>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center uppercase">
                            <a href="/space/" class="text-center white">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="research">
        <div class="container">
            <!-- RESEARCH HEADER -->
            <div class="section-header">
                <div class="row">
                    <div class="col-md-12">
                       <hgroup class="text-center">
                            <h1>Research</h1>
                            <h2 class="subheader"><span class="hidden-xs">We Are Exploring The Potential Of Digital Fabrication<br Class="visible-md visible-lg"> in Architecture And Design</span><span class="visible-xs">Exploring The Potential <br>of Digital Fabrication</span></h2>
                        </hgroup>
                    </div>
                </div>
            </div>
            <div class="section-list">
                <div class="row">
                    {% for research in site.categories.research limit:3 %}
                    {% if forloop.last %}
                    {% assign hiddensmall = "hidden-sm hidden-xs" %}
                    {% endif %}
                    <article class="col-md-4 col-xs-12 col-sm-6 research {{hiddensmall}}">
                        <a href="{{research.permalink}}">
                            <div class="gradient">
                                <div class="caption">
                                    <h3>{{research.title}}</h3>
                                    <h4>{{research.description}}</h4>
                                </div>
                            </div>
                            <div class="marco" style="background-image: url(../img{{research.image.url}})" >
                            </div>
                        </a>
                    </article>
                    {% endfor %}
                </div>
            </div>
            <!-- RESEARCH LINKS
            <div class="section-link">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <hr class="top none">
                        <a href="/research/" class="text-center"><span class="hidden-xs">See All Our Research Projects And Join Our Research Team</span><span class="visible-xs">See All Our Research Projects</span></a>
                    </div>
                </div>
                <hr class="none">
            </div>
            -->
           <div class="section-link">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <hr class="top none">
                        <a class="text-center disabled">More research soon!</a>
                    </div>
                </div>
                <hr class="none">
            </div>
        </div>
    </section>
    <section id="subscribe">
        {% include _subscribe.html %}
    </section>
    <section class="footer">
        {% include footer.html %}
    </section>
    {% include scripts-home.html %}
    <script>
        new Share('.share-button', {
            url: 'http://fablab.saul.ie{',
            image: 'http://fablab.saul.ie/thumbnail.jpg',
            title: 'Fab Lab Limerick',
            text: 'A space for makers in Limerick city',
            ui: {
                button_icon: 'false',
                button_text: 'Share it',
                button_font: 'false',
                button_background: 'none',
                button_color: '#4A4A4A'
            },
            networks: {
                facebook: {
                    enabled: true,
                    load_sdk: false
                },
                twitter: {
                    enabled: true
                }
            }
        });
    </script>
    {% include googleanalytics.html %}
  </body>
</html>
