<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include socialmeta-page.html %}
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/fablabtheme.css">
    <!-- endbuild -->

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header id="header">
        {% include header.html %}
    </header>
    <section class="header-single">
        {% if page.slideshow %}
            <section id="headerslideshow">
                {% include carousel-single.html %}
            </section>
        {% else %}
            <div class="header-single-image" style="background-image: url(/img{{ page.imageurl }})"></div>
        {% endif %}
         <div class="header-single-title">
            <div class="container">
                <div class="header-single-container col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                            <hgroup class="text-center">
                                <h1>{{page.title}}</h1>
                                <h2 class="subheader">{{page.hours}}</span></h2>
                            </hgroup>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                            <p class="text-center imagecredits clearfix">
                                {% if page.imagedisplay != false %}
                                <span>Image by {{ page.imagecredits }}</span>
                                {% else %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="body-single">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                    <h2 class="body-single-excerpt text-center">{{ page.excerpt }}</h2>
                    <div class="body-single-info">
                        <hr class="top">
                        <h5 class="text-center">{{ page.fee }}  ·  <div class="share-button"></div></h5>
                        <hr class="bottom">
                    </div>
                    <div class="body-single-content" lang="en">
                        {{ content }}
                    </div>
                    <!--
                    <div class="body-single-next">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <hr class="top">
                                {% include _next-research.html %}
                            </div>
                        </div>
                        <hr class="none">
                    </div>
                    -->
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        {% include footer.html %}
    </section>
    {% include scripts-home.html %}
    <script>
        new Share('.share-button', {
            url: 'http://fablab.saul.ie{{ page.url}}',
            image: 'http://fablab.saul.ie/img{{ page.imageurl }}',
            title: '{{ page.title }}',
            text: '{{ page.description }}',
            ui: {
                button_icon: 'false',
                button_text: 'Share it',
                button_font: 'false',
                button_background: 'none',
                button_color: '#4A4A4A'
            },
            networks: {
                facebook: {
                    enabled: true,
                    load_sdk: false
                },
                twitter: {
                    enabled: true
                }
            }
        });
    </script>
    {% include googleanalytics.html %}
  </body>
</html>
