<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include socialmeta-page.html %}
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/css/fablabtheme.css">
    <!-- endbuild -->

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header id="header">
        {% include header.html %}
    </header>
    <section class="header-hero">
        {% for banner in site.categories.banner-space limit:1 %}
        <div class="header-hero-image" style="background-image: url(../img{{ banner.image }})"></div>
        {% endfor %}
        </div>
        <div class="header-hero-title">
            <div class="container">
                <div class="header-hero-container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <hgroup class="text-center">
                                <h1>Space</h1>
                                <h2 class="subheader"><span class="hidden-xs">Who We Are And How You <br>Can Use The Fab Lab</span><span class="visible-xs">How You Can Use<br>the Fab Lab</span></h2>
                            </hgroup>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% for banner in site.categories.banner-space limit:1 %}
                            <p class="text-center imagecredits clearfix">
                                {% if banner.caption.display != false %}
                                <span class="hidden-xs">Background image: {{banner.title}} by {{banner.caption.credits}}</span><span class="visible-xs">Image by {{banner.caption.credits}}</span>
                                {% else %}
                                <span></span>
                                {% endif %}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="body-who">
        <div class="container">
            <div class="section-header">
                <div class="row">
                    <div class="col-md-12">
                        <hgroup class="text-center">
                            <h1>Who</h1>
                            <h2 class="subheader"><span class="hidden-xs">Where Are A Group Of Staff And Students <br>from The School Of Architecture</span><span class="visible-xs">Where Are The School <br>of Architecture</span></h2>
                        </hgroup>
                    </div>
                </div>
            </div>
            <div class="section-description">
                <div class="row">
                    <div class="col-md-6">
                        <p>Information Architects was founded in 2005 in Tokyo. It quickly grew into “one of the most famous design agencies in the world” (Corriere Della Sera). Our websites.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Information Architects was founded in 2005 in Tokyo. It quickly grew into “one of the most famous design agencies in the world” (Corriere Della Sera). Our websites.</p>
                    </div>
                </div>
            </div>
            <div class="section-list">
                <div class="row list-header">
                    <div class="col-md-12">
                        <hr class="none">
                        <h3 class="text-center">The Team</h3>
                        <hr class="bottom">
                    </div>
                </div>
                <div class="row list-body">
                    {% for member in site.categories.team reversed %}
                    <div class="col-md-2 col-sm-3 col-xs-6 list-member">
                        <div class="imagen" style="background-image: url(../img/team/{{member.image}})"></div>
                        <hgroup class="text-center membertext">
                            <h4>{{ member.title }}</h4>
                            <h5>{{ member.position }}</h5>
                        </hgroup>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- EQUIPMENT
            <div class="section-link">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <hr class="top">
                        <a href="#" class="text-center"><span class="hidden-xs">Check out everybody involved</span><span class="visible-xs">Check out everybody involved</span></a>
                        <hr class="none">
                    </div>
                </div>
            </div> -->
            <div class="section-link">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <hr class="top">
                        <a class="text-center disabled">More soon!</a>
                        <hr class="none">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="body-how">
       <div class="container">
            <div class="section-header">
                <div class="row">
                    <div class="col-md-12">
                        <hgroup class="text-center">
                            <h1>How</h1>
                            <h2 class="subheader"><span class="hidden-xs">Where Are A Group Of Staff And Students <br>from The School Of Architecture</span><span class="visible-xs">Where Are The School <br>of Architecture</span></h2>
                        </hgroup>
                    </div>
                </div>
            </div>
            <div class="section-description">
                <div class="row">
                    <div class="col-md-6">
                        <p>Information Architects was founded in 2005 in Tokyo. It quickly grew into “one of the most famous design agencies in the world” (Corriere Della Sera). Our websites.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Information Architects was founded in 2005 in Tokyo. It quickly grew into “one of the most famous design agencies in the world” (Corriere Della Sera). Our websites.</p>
                    </div>
                </div>
            </div>
            <div class="section-list">
                <div class="row">
                    <div class="col-md-12">
                        <div class="equipment list">
                            <div class="row list-header">
                                <div class="col-md-12">
                                    <hr class="none">
                                    <h3 class="text-center">The Equipment</h3>
                                    <hr class="bottom">
                                </div>
                            </div>
                            <div class="list-body">
                            {% for machine in site.categories.equipment %}
                                {% capture currenttype %}{{ machine.type }}{% endcapture %}
                                {% if currenttype != thetype %}
                                {% if forloop.first %}
                                {% else %}
                                <hr class="table gray hidden-xs">
                                {% endif %}
                                <div class="row list-equipment visible-xs list-subheader-phone">
                                    <div class="col-md-12 text-center"><span class="machinetype-xs">{{ machine.type }}</span></div>
                                </div>
                                <hr class="table gray visible-xs">
                                <div class="row list-equipment">
                                    <div class="col-md-3 col-sm-2 col-xs-4"><span class="hidden-xs machinetype">{{ machine.type }}</span><span class="visible-xs">{{ machine.title }}</span></div>
                                    <div class="col-md-3 col-sm-3 hidden-xs">{{ machine.title }}</div>
                                    <div class="col-md-6 col-sm-7 col-xs-8">{{ machine.description | markdownify }}</div>
                                </div>
                                {% capture thetype %}{{ currenttype }}{% endcapture %}
                                {% else %}
                                <hr class="none">
                                <div class="row list-equipment">
                                    <div class="col-md-3 col-sm-2 col-xs-4"><span class="visible-xs">{{ machine.title }}</span></div>
                                    <div class="col-md-3 col-sm-3 hidden-xs">{{ machine.title }}</div>
                                    <div class="col-md-6 col-sm-7 col-xs-8">{{ machine.description | markdownify }}</div>
                                </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-link">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <hr class="top">
                        <a href="{{ site.external.wiki }}" class="text-center"><span class="hidden-xs">Visit Our Wiki For Tutorials and more equipment information</span><span class="visible-xs">more information about our equipment</span></a>
                        <hr class="none">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        {% include footer.html %}
    </section>
    {% include scripts-home.html %}
    {% include googleanalytics.html %}
  </body>
</html>
