<p class="text-center">
{% for category in site.categories %}
    {% assign catg_name = category.first %}
    {% if catg_name == page.category %}
        {% assign catg_posts = category.last %}
    {% endif %}
{% endfor %}
{% for post in catg_posts %}
    {% if post.title == page.title %}
        {% if forloop.last %}
            {% assign next = catg_posts[forloop.first] %}
            <a href="{{ next.url }}">primero{{ next.title }}</a>
        {% else %}
            <a href="{{ prev.url }}">Hello{{ prev.title }}</a>
        {% endif %}
    {% endif %}
    {% assign prev = post %}
{% endfor %}
</p>