<div id="header">
  <div class="container">
      <div class="row">
          <div id="logo" class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
              <h1><span>FAB LAB LIMERICK</span></h1>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
              <h2 class="text-center" style="color:white">A SPACE FOR MAKERS IN LIMERICK CITY</h2>
          </div>
      </div>
  </div>
</div>
<div id="navigation">
  <div class="verticalcenter">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-3 text-center"><a href="#">EVENTS</a></div>
        <div class="col-sm-2 text-center"><a href="#">SPACE</a></div>
        <div class="col-sm-2 text-center"><a href="#">RESEARCH</a></div>
      </div>
    </div>
  </div>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div class="carousel-caption">
        <p class="hidden-xs">Glyphicon buttons on the left and right might not load/display properly due to web</p>
      </div>
      <div class="imageTop"></div>
      <div class="image" style="background-image:url(../img/research/research-1.jpg)"></div>
    </div>
    <div class="item">
      <div class="carousel-caption">
        <p class="hidden-xs">Glyphicon buttons on the left and right might not load/display properly due to</p>
      </div>
      <div class="imageTop"></div>
      <div class="image" style="background-image:url(../img/research/research-1.jpg)"></div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>    