<div id="myslideshow" class="carousel fade" data-interval="8000" data-ride="carousel">
  <!-- Indicators
  <ol class="carousel-indicators">
    {% for image in page.slideshow %}
      {% if forloop.length == 1 %}
      {% else %}
      <li data-target="#myslideshow" data-slide-to="0" class="{% if forloop.first %}active{% endif %}"></li>
      {% endif %}
    {% endfor %}
  </ol>
  Wrapper for slides -->
  <div class="carousel-inner">
    {% for image in page.slideshow %}
    <div class="item {% if forloop.first %}active{% endif %}">
      <div class="carousel-caption">
        <p class="hidden-xs imagecredits"><span class="title">{{ image.title }}</span>. Image by {{ image.credits }}</p>
        <p class="visible-xs imagecredits">Image by {{ image.credits }}</p>
      </div>
      <div class="image image{{ forloop.index }}"></div>
      <style>
          .image{{ forloop.index }}{
            background: url(/img{{ image.url }}) top center no-repeat; 
          }
      </style>
    </div>
    {% endfor %}
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myslideshow" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myslideshow" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>    