<div id="brand-motto">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <h2 class="text-center">
                <span class="hidden-xs">A SPACE FOR MAKERS<br>IN LIMERICK CITY</span><span class="visible-xs">A SPACE<br>FOR<br>MAKERS IN<br>LIMERICK<br>CITY</span>
              </h2>
          </div>
      </div>
  </div>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div class="carousel-caption">
        <p><span class="title"><a href="#">Glyphicon buttons on the left</a></span><span class="hidden-xs">. and right might not load/display properly due to web</span></p>
      </div>
      <div class="imageTop"></div>
      <div class="image" style="background-image:url(../img/research/research-4.jpg)"></div>
    </div>
    <div class="item">
      <div class="carousel-caption">
        <p><span class="title"><a href="#">Glyphicon buttons on the left</a></span><span class="hidden-xs">. and right might not load/display properly due to web</span></p>
      </div>
      <div class="imageTop"></div>
      <div class="image" style="background-image:url(../img/research/research-3.jpg)"></div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>    