<div id="myslideshow" class="carousel slide" data-interval="8000" data-ride="carousel">
  <ol class="carousel-indicators">
  </ol>
  <div class="carousel-inner">
    {% for image in page.slideshow %}
    <div class="item {% if forloop.first %}active{% endif %}">
      <div class="carousel-caption">
        <p class="hidden-xs imagecredits"><span class="title">{{ imagetitle }}</span>. Image by {{ imagecredits }}</p>
        <p class="visible-xs imagecredits">Image by {{ imagecredits }}</p>
      </div>
      <div class="image image{{ forloop.index }}">
      </div>
      <style>
          .image{{ forloop.index }}{
            background: url(/img{{ imageurl }}) top center no-repeat; 
          }
      </style>
    </div>
    {% endfor %}
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myslideshow" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myslideshow" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>    