<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-push-5 pielinea">
            <span class="FabLabLogo" title="Fab Lab Limerick"></span>
        </div>
        <div class="col-md-5 col-md-pull-2 pielinea">
            <p class="text-left hidden-sm hidden-xs"><a href="{{ site.external.map }}" class="nounderline"><small>Fab Lab Limerick, 7 Rutland Street, Limerick</small></a></p>
            <p class="text-center visible-sm visible-xs"><a ref="{{ site.external.map }}" class="nounderline"><small>Fab Lab Limerick, 7 Rutland Street</small></a></p>
        </div>
        <div class="col-md-5 pielinea">
             <p class="text-right hidden-sm hidden-xs"><a class="social-link nounderline email" href="emailto:{{ site.external.email }}"><small>{{ site.external.email }}</small></a><a class="social-link nounderline" href="{{ site.external.facebook }}"><small>Facebook</small></a><a class="social-link nounderline" href="{{ site.external.twitter }}"><small>@fablablimerick</small></a></p>
             <p class="text-center visible-sm visible-xs"><a class="social-link nounderline" href=""><small>fablab@saul.ie</small></a>|<a class="social-link nounderline" href="{{ site.external.facebook }}"><small>Facebook</small></a>|<a class="social-link nounderline" href="{{ site.external.twitter }}"><small>@fablablimerick</small></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 pielinea">
            <!--
            <p class="text-center credits"><span class="hidden-xs"><small>Fab Lab Limerick is a project by the <a class="gray" href="http://saul.ie">School of Architecture</a>, <a class=" gray" href="http://ul.ie">University Of Limerick</a></small></span><span class="visible-xs"><small>Fab Lab Limerick by the <a class="gray" href="http://saul.ie">School of Architecture</a><br><a class="gray" href="http://ul.ie">University Of Limerick</a></small></span></p>
            -->
            <p class="text-center credits"><span class="hidden-xs"><small>We are open from Monday to Friday, from 9:00 to 17:00. <span class="hidden-lg"></br></span>Late opening evening on Thursdays from 19.30 to 21.30</small></span><span class="visible-xs"><small>Open: Monday to Friday, 9:00 to 17:00. Late opening evening on Thursdays 19.30 to 21.30</small></span></p>
        </div>
    </div>
    <div class="row logos">
        <div class="col-sm-4">
            <a class="gray" href="http://saul.ie"><small id="saul" class="logo"></small></a>
        </div>
        <div class="col-sm-4">
            <a class="gray" href="http://ul.ie"><small id="ul" class="logo"></small></a>
        </div>
        <div class="col-sm-4">
            <a class="gray" href="http://limerickcityofculture.ie"><small id="lcc" class="logo"></small></a>
        </div>
    </div>
     <div class="row">
        <div class="col-sm-12">
            <p class="text-center creditsdesign"><small>Web design by <a class="gray" href="http://colaborativa.eu/en/">Colaborativa.eu</a></small></p>
        </div>
    </div>
</div>
