<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-2 col-md-push-5 pielinea">
            <span class="FabLabLogo" title="Fab Lab Limerick"></span>
        </div>
        <div class="col-md-5 col-md-pull-2 pielinea">
            <p class="text-left hidden-sm hidden-xs"><small>Fab Lab Limerick, 7 Rutland Street, Limerick</small></p>
            <p class="text-center visible-sm visible-xs"><small>Fab Lab Limerick, 7 Rutland Street</small></p>
        </div>
        <div class="col-md-5 pielinea">
             <p class="text-right hidden-sm hidden-xs"><a class="social-link" href=""><small>fablab@saul.ie</small></a><a class="social-link" href=""><small>Facebook</small></a><a class="social-link" href=""><small>@fablablimerick</small></a></p>
             <p class="text-center visible-sm visible-xs">|<a class="social-link" href=""><small>fablab@saul.ie</small></a>|<a class="social-link" href=""><small>Facebook</small></a>|<a class="social-link" href=""><small>@fablablimerick</small></a>|</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 pielinea">
            <p class="text-center credits"><span class="hidden-xs"><small>Fab Lab Limerick is a project promoted by the <a href="http://saul.ie">School of Architecture</a>, <a href="http://ul.ie">University Of Limerick</a></small></span><span class="visible-xs"><small>Fab Lab Limerick by the <a href="http://saul.ie">School of Architecture</a><br><a href="http://ul.ie">University Of Limerick</a></small></span></p>
        </div>
    </div>
</div>