<meta name='robots' content='index'/>
<meta name="Description" content="{{ page.description }}" />
<!-- Schema http://schema.org/docs/gs.html description max 200char images 180x120px -->
<meta itemprop="name" content="Fab Lab Limerick | {{ page.title }}" />
<meta itemprop="description" content="{{ page.description }}" />
<meta itemprop="author" content="Fab Lab Limerick" />
<meta itemprop="url" content="http://fablab.saul.ie{{ page.url}}" />
<meta itemprop="image" content="http://fablab.saul.ie/img{{ page.imageurl }}" />
<!-- OpenGraph http://ogp.me description max 150char images 160x160px-->
<meta property="og:type" content="website" />
<meta property="og:image" content="http://fablab.saul.ie/img{{ page.imageurl }}" />
<meta property="og:url" content="http://fablab.saul.ie{{ page.url}}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<!-- TwitterCard https://dev.twitter.com/docs/cards description max 200char images 120x120px-->
<meta name="twitter:site:id" content="2200145984">
<meta name="twitter:creator:id" content="2200145984">
<meta name="twitter:description" content="{{ page.description }}" />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@fablablimerick">
<meta name="twitter:title" content="Fab Lab Limerick | {{ page.title }}">
<meta name="twitter:image" content="http://fablab.saul.ie/img{{ page.imageurl }}">