<meta name='robots' content='index'/>
<meta name="Description" content="A space for makers in Limerick city" />
<!-- Schema http://schema.org/docs/gs.html description max 200char images 180x120px -->
<meta itemprop="name" content="Fab Lab Limerick" />
<meta itemprop="description" content="A space for makers in Limerick city" />
<meta itemprop="author" content="Fab Lab Limerick" />
<meta itemprop="url" content="http://fablab.saul.ie" />
<meta itemprop="image" content="http://fablab.saul.ie/thumbnail.jpg" />
<!-- OpenGraph http://ogp.me description max 150char images 160x160px-->
<meta property="og:type" content="website" />
<meta property="og:image" content="http://fablab.saul.ie/thumbnail.jpg" />
<meta property="og:url" content="http://fablab.saul.ie" />
<meta property="og:title" content="Fab Lab Limerick" />
<meta property="og:description" content="A space for makers in Limerick city" />
<!-- TwitterCard https://dev.twitter.com/docs/cards description max 200char images 120x120px-->
<meta name="twitter:site:id" content="2200145984">
<meta name="twitter:creator:id" content="2200145984">
<meta name="twitter:description" content="A space for makers in Limerick city" />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@fablablimerick">
<meta name="twitter:title" content="Fab Lab Limerick">
<meta name="twitter:image" content="http://fablab.saul.ie/logo-thumbnail.png">