@font-face {
    font-family: 'fablab_rounded_100extralight';
    src: url('../fonts/fablabrounded100-extralight-webfont.eot');
    src: url('../fonts/fablabrounded100-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fablabrounded100-extralight-webfont.woff') format('woff'),
         url('../fonts/fablabrounded100-extralight-webfont.ttf') format('truetype'),
         url('../fonts/fablabrounded100-extralight-webfont.svg#fablab_rounded_100extralight') format('svg');
    font-weight: normal;
    font-style: normal;
}