$ms-base: 1em;
$link-color: #4A4A4A;
$link-color-underline: #d43;
$gray-color: #888;

@mixin blackGradientBackgroundVertical{
background: -moz-linear-gradient(bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.60) 40%, rgba(0,0,0,0.0) 70%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0.8)), color-stop(40%,rgba(0,0,0,0.60)), color-stop(70%,rgba(0,0,0,0.0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.60) 40%,rgba(0,0,0,0.0) 70%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.60) 40%,rgba(0,0,0,0.0) 70%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.60) 40%,rgba(0,0,0,0.0) 70%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.60) 40%,rgba(0,0,0,0.0) 70%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

@mixin typescale($basefontsize, $baselineheight){
	$base-font-size: $basefontsize;
	$base-line-height: $baselineheight;
	body{
		font-size: $basefontsize;
		line-height: $baselineheight;
	}
	.footer{
		margin-top: 3em;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	article.event-strip{
		h3, h4, p {
			font-size: 1em;
			line-height: 1.5em;
		}
	}
	article.event {
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		.title, .description{
			h3, p{
				margin-top: 0;
				padding-top: 0;
				padding-bottom: 0;
				margin-bottom: 0;
				font-size: 1em;
				line-height: 1.5em;
			}
			h4{
				margin-top: 0;
    		padding-top: 0;
    		padding-bottom: 0;
    		margin-bottom: .75em;
				font-size: 1em;
    		line-height: 1.5em;
			}
		}
	}
	#space{
		margin-top: 3em;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
	}
	// This are the styles of the equipment list and similar lists
	.section-list{
		.list-header{
			font-size: 1.3em;
			line-height: 1.15em;
			margin-top: 1.5em;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 0;
			hr{
				margin-top: 0;
		    padding-top: .375em;
		    padding-bottom: .375em;
		    margin-bottom: 0;
			}
		}
		.list-body{
			.list-equipment{
				margin-top: 0;
		    padding-top: .75em;
		    padding-bottom: .75em;
		    margin-bottom: 0;
				&.list-subheader-phone{
					margin-top: 0;
			    padding-top: .75em;
			    padding-bottom: .45em;
			    margin-bottom: 0;
				}
			}
			.list-member{
				margin-top: 1.5em;
		    padding-top: 0;
		    padding-bottom: 0;
		    margin-bottom: 0;
			}
			hr{
				margin-top: 0;
				padding-top: 0;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
	}
	// Header In events research and similar pages
	.header-hero-title{
		h1{
			font-size: 4em;
    	margin-top: 1.125em;
    	padding-top: 0;
    	padding-bottom: 0;
    	margin-bottom: 0;
    	line-height: 1em;
		}
		h2.subheader{
			font-size: 2em;
			line-height: 1.5em;
			line-height: 1.3em;
			margin-top: .5em;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 0;
			word-spacing: 0.03em;
			letter-spacing: 0.015em;
		}
		p.imagecredits{
			font-size: .86em;
    	line-height: 1.75em;
	    margin-top: 1.875em;
	    padding-top: 0;
	    padding-bottom: 0;
	    margin-bottom: 1.875em;
		}
	}
	// Header in single page events research and more
	.header-single-title{
		h1{
			font-size: 3.3em;
			margin-top: 1.125em;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: .6em;
			line-height: 1em;
		}
		h2.subheader{
			line-height: 1.5em;
			line-height: 1.3em;
			margin-top: .375em;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 0;
			word-spacing: .03em;
			letter-spacing: .015em;
			font-size: 1em;
		}
		p.imagecredits{
			font-size: .86em;
    	line-height: 1.75em;
	    margin-top: 1.875em;
	    padding-top: 0;
	    padding-bottom: 0;
	    margin-bottom: 1.875em;
		}
	}
	// Single page elements
	//this is when slideshow is active
	.carousel p.imagecredits{
		font-size: .86em;
		line-height: 1.75em;
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.body-single{
		h2.body-single-excerpt{
			font-size: 1.3em;
			line-height: 1.15em;
			line-height: 1.5em;
			margin-top: 1.5em;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 1.5em;
		}
		.body-single-info{
			h5{
				margin-top: .75em;
				padding-top: 0;
				padding-bottom: 0;
				margin-bottom: .75em;
			}
		}
		.body-single-content{
			font-size: 1em;
    	line-height: 1.5em;
    	margin-top: 2em;
    	padding-top: 0;
    	padding-bottom: 0;
    	margin-bottom: 2em;
			br{
				margin-top: 1.5em;
		    padding-top: 0;
		    padding-bottom: 0;
		    margin-bottom: 0;
			}
			h2{
				margin-top: 1.5em;
		    padding-top: 0;
		    padding-bottom: 0;
		    margin-bottom: 0;
			}
			h2 + p {
				margin-top: 0.75em;
		    padding-top: 0;
		    padding-bottom: 0;
		    margin-bottom: 1em;
			}
			h3{
				text-transform: uppercase;
				font-family: "fablab_500";
				margin-top: 1.5em;
	  		padding-top: 0;
	  		padding-bottom: 0;
	  		margin-bottom: .5em;
			}
			h2 + h3{
				margin-top: 0;
		    padding-top: 0;
		    padding-bottom: 0;
		    margin-bottom: 0.75em;
			}
			img{
				margin-top: 1.5em;
	  		padding-top: 0;
	  		padding-bottom: 0;
	  		margin-bottom: 1.5em;
			}
			p{
				margin-top: 0;
		    padding-top: 0;
		    padding-bottom: 0;
		    margin-bottom: 1em;
			}
			ul{
				margin-top: 0;
	  		padding-top: 0;
	  		padding-bottom: 0;
	  		margin-bottom: .5em;
			}
			ul > li{
				margin-top: 0;
	  		padding-top: 0;
	  		padding-bottom: 0;
	  		margin-bottom: .5em;
			}
			li{
				margin-top: .5em;
	  		padding-top: 0;
	  		padding-bottom: 0;
	  		margin-bottom: .5em;
			}
			.video{
				margin-top: 1.5em;
	  		padding-top: 0;
	  		padding-bottom: 0;
	  		margin-bottom: 3em;
			}
		}
		.body-single-next{
			margin-top: 0;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 1.5em;
			hr{
				margin-top: 0;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				margin-bottom: 0;
			}
		}
	}
	.section-title{
		margin-top: 0.75em;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0.75em;
	}
	.section-link{
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 1.5em;
		hr{
			margin-top: 0;
			padding-top: 0.5em;
			padding-bottom: 0.75em;
			margin-bottom: 0;
		}
	}
	#research .section-link{
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	#subscribe{
		hr.top{
			margin-top: 0;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 1em;
		}
		.subs-head{
			margin-top: 0;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 1em;
		}
		.subs-footer{
			margin-top: 0.25em;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 2em;
		}
		hr.bottom{
			margin-top: 1em;
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}
	img{
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 2em;
	}
	h1{
		margin-top: 1em;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		font-size: 3.3em;
    line-height: 1.4em;
	}
	h2{
		margin-top: 0.5em;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0.75em;
		font-size: 1.6em;
		line-height: 1.8em;
	}
	h2.subheader{
		margin-top: 0.5em;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0.75em;
		font-size: 1.6em;
		line-height: 1.3em;
		word-spacing: 0.03em;
		letter-spacing: 0.015em;
	}
	h3{
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		font-size: 1em;
		line-height: 1.5em;
	}
	h4{
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		font-size: 1em;
		line-height: 1.5em;
	}
	h5{
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	img{
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 1.5em;
	}
}
