@import "_2_THEME_variables&mixins";

.collapsing {
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  height: 213px!important;
}

// BARRA DE NAVEGACION
.botones-phone{
  visibility: hidden;
  -moz-transition: height .5s;
  -ms-transition: height .5s;
  -o-transition: height .5s;
  -webkit-transition: height .5s;
  transition: height .5s;
  overflow: hidden;
  position: absolute;
  top: 71px;
  z-index: 5000;
  height: 0px;
  width: 100%;
  ul{
    margin: 0px;
    padding: 0px;
    li{
      height:70px;
      background-color: rgba(0,0,0,0.85);
      margin-bottom: 1px;
      text-align: center;
      line-height: 70px;
      text-transform: uppercase;
      font-family: "MuseoSans-500";
      font-weight: 500;
      a:link, a:visited, a:active{
        display: block;
        height:70px;
        color: white;
        border-bottom: none;
        &:hover{
          color: $link-color-underline;
        }
      }
    }
  }
}
#navegacion{
  $navbar-height: 80px;
  $navbar-logowidth: 240px;
  $navbar-fontsize: 13px;
  position: absolute;
  top:0px;
  width:100%;
  overflow: hidden;
  margin-bottom: 0px;
  background-color: none;
  z-index: 4000;
  .filling-left{
    background-color: rgba(0,0,0,0.8);
    height: $navbar-height;
    width: 50%;
    float: left;
    margin-left: - ($navbar-logowidth + 2px )/2;
  }
  .filling-right{
    background-color: rgba(0,0,0,0.8);
    height: $navbar-height;
    width: 50%;
    left: 50%;
    margin-left: ($navbar-logowidth /2) + $navbar-height * 3 + 4px;
    position: absolute;
  }
  .barranavegacion{
    position: absolute;
    z-index: 4000;
    left:50%;
    margin-left: - $navbar-logowidth/2;
    width: $navbar-logowidth + $navbar-height * 3 + 3px;
    height: $navbar-height;
    a:link, a:visited, a:active{
      border-bottom: none;
    }
    .menucollapse{
      background-color: rgba(0,0,0,0.8);
      height: $navbar-height;
      display:block;
      color: white;
    }
    #logo{
      background-color: #C70F19;
      margin-top: 0px;
      width: $navbar-logowidth;
      height: $navbar-height;
      float:left;
      @include background-size(100%, 100%);
      background-repeat: no-repeat;
      background-position:center;
      background-image: url("../img/logo/logo.svg");
      a{
        display: block;
      }
      span{
        display: none;
      }
    }
    .navbar-toggle{
      margin-right: 13px;
      margin-top: 17px;
      .icon-bar{
        height: 1px;
        background-color: white;
      }
      .icon-bar + .icon-bar{
        margin-top: 6px;
      }
    }
    .botones{
      ul{
        margin:0px;
        background-color: none;
        li{
          line-height: $navbar-height;
          list-style-type: none;
          text-align: center;
          background-color: rgba(0,0,0,0.8);
          font-size: $navbar-fontsize;
          height: $navbar-height;
          width: $navbar-height;
          float:left;
          margin-left: 1px;
          text-transform: uppercase;
          font-family: "MuseoSans-500";
          font-weight: 500;
          a:link, a:visited, a:active{
            color: white;
            border-bottom: none;
          }
          a:hover{
            color: $link-color-underline;
            border-bottom: none;
          }
        }
      }    
    }
  }
}
@media (max-width: $screen-xs-max) {
  .botones-phone{
    visibility: visible;
  }
  #navegacion{
    .filling-left{
      height: 70px;
    }
    .filling-right{
      height: 70px;
      margin-left: 172px;
    }
    .barranavegacion{
      width:220px + 70px +1px;
      height:70px;
      #logo, #logo a, #logo a:link{
        width:220px;
        height:70px;
      }
      .botones{
        ul{
          li{
            line-height: 70px;
            height:70px;
            width:70px;
            a:link{
              display: block;
              line-height: $navbar-height;
              height: $navbar-height;
              width: $navbar-height;
            }
          }
        } 
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  $navbar-height: 100px;
  $navbar-logowidth: 280px;
  $navbar-fontsize:14px;
  .botones-phone{
    visibility: hidden;
  }
  #navegacion{
    .filling-left{
      height: $navbar-height;
      margin-left: - ($navbar-logowidth + 2px )/2;
    }
    .filling-right{
      height: $navbar-height;
      margin-left: ($navbar-logowidth /2) + $navbar-height * 3 + 4px;
    }
    .barranavegacion{
      margin-left: - $navbar-logowidth/2;
      width: $navbar-logowidth + $navbar-height * 3 + 3px;
      height: $navbar-height;
      #logo, #logo a, #logo a:link{
        width: $navbar-logowidth;
        height: $navbar-height;
      }
      .botones{
        ul{
          li{
            line-height: $navbar-height;
            height: $navbar-height;
            width: $navbar-height;
            font-size: $navbar-fontsize;
            a:link{
              display: block;
              line-height: $navbar-height;
              height: $navbar-height;
              width: $navbar-height;
            }
          }
        } 
      }
    }
  }
}
// END BARRA NAVEGACION