@import "_2_THEME_variables&mixins";

#body-who{
  .imagen{
      @include box-sizing (border-box);
      display: block;
      overflow:hidden;
      background-position:center center;
      @include background-size (cover);
      margin-right: auto;
      margin-left: auto;
      border-radius: 50%;
  }
  .membertext{
      margin-top: 0.7em;
      margin-bottom: 1.5em;
  }
}


.equipment{
  .machinetype{
    font-family: "fablab_500";
    text-transform: uppercase;
  }
  .machinetype-xs{
    font-family: "fablab_500";
    text-transform: uppercase;
    width: 100%;
    display: block;
  }
}

@media (max-width: $screen-xs-max) {
  .imagen{
    height: 110px;
    width: 110px;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .imagen{
    height: 100px;
    width: 100px;
  }
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .imagen{
    height: 120px;
    width: 120px;
  }
}
@media (min-width: $screen-lg-min) {
  .imagen{
    height: 140px;
    width: 140px;
  }
}