@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "_variables";
@import "bootstrap";
@import "_fontfaces";
@import "../_bower_components/modular-scale/stylesheets/_modular-scale";

$ms-base: 1em;
$ms-ratio: $golden;

// GENERAL STYLES
body, html{
	height: 100%;
}
hr{
  padding:0px;
  margin: 0px;
  border-top: 1px solid grey;
  border-bottom: none;
}




#header{
  background-color: black;
  height:100%;
}
#logo{
  background-color: red;
  h1{
    @include background-size(100%, auto);
    background-repeat: no-repeat;
    background-image: url("../img/logo-v2.svg");
    span{
      display: none;
    }
  }
}
article.event,{
  .image{
    display: block;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-position-x: 50%;
    background-position-y: 50%;
    @include background-size (cover);
  }
}
article.research{
    display: block;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-position-x: 50%;
    background-position-y: 50%;
    @include background-size (cover);
}

#space{
  height:100%;
  .container{
    height:100%;
    .visor{
      width: 100%;
      height:100%;
      display: table;
      background-color: black;
      .centradovertical{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

#research{
  article{
    .thumbnail{
      height:100%;
      display: table;
      .caption{
        @include box-sizing (border-box);
        display: table-cell;
        vertical-align: bottom;
        padding: $padding-base-horizontal * 2;
      }
    }
  }
}


@mixin typescale($basefontsize, $baselineheight){
  $base-font-size: $basefontsize;
  $base-line-height: $baselineheight;
  @include establish-baseline;
  body{
  	font-size: $basefontsize;
  	line-height: baselineheight;
  }
  article.event {
    @include rhythm(0, 0, 0, 0, $base-font-size);
    .image, .title, .description{
      h3, p{
        @include rhythm(0.5, 0, 0, 0.5, $base-font-size);
      }
    }
  }
  .link{
    @include rhythm(1, 0, 0, 1, $base-font-size);
  }
  img{
  	@include rhythm(0, 0, 0, 1.2, $base-font-size); 
  }
  h1{
  	@include rhythm(0.6, 0, 0, 0, $base-font-size);
  	@include adjust-font-size-to($base-font-size * $golden * 2);
  }
  h2{
  	@include rhythm(0.3, 0, 0, 0.6, $base-font-size);
  	@include adjust-font-size-to($base-font-size * $golden * 1);
  }
  h3{
    @include rhythm(0, 0, 0, 0, $base-font-size);
    @include adjust-font-size-to($base-font-size);
  }
  h4{
    @include rhythm(0, 0, 0, 0, $base-font-size);
    @include adjust-font-size-to($base-font-size);
  }
}

// Visibility utilities
//Phones
@media (max-width: $screen-xs-max) {
  body{
  	min-height: 460px;
  }
  #logo h1{
    margin-top: 0px;
    background-position: center;
    @include background-size(280px auto);
    height: 95px;
  }
  @include typescale (16px, 22px);
  .event{
    height: rhythm(20, 16px);
    .image{
      height: rhythm(10, 16px);
    }
  }
  .research {
    height: 375px;
  }
}
//Tables
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include typescale (16px, 22px);
  #logo h1{
    margin-top: 30px;
    height:110px;
  }
  .event{
    height: rhythm(9, 16px);
    .image{
      height: rhythm(9, 16px);
    }
  }
  .research {
    height: 375px;
  }
}
//Medium
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include typescale (18px, 24px);
  #logo h1{
    margin-top: 30px;
    height:90px;
  }
  .event{
    height: rhythm(7, 18px);
    .image{
      height: rhythm(7, 18px);
    }
  }
  .research {
    height: 323px;
  }
}
//large
@media (min-width: $screen-lg-min) {
  @include typescale (20px, 24px);
  #logo h1{
    margin-top: 30px;
    height:110px;
  }
  .event{
    height: rhythm(7, 20px);
    .image{
      height: rhythm(7, 20px);
    }
  }
  .research {
    height: 389px;
  }
}
