@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "_variables";
@import "bootstrap";
@import "_fontfaces";
body, html{
	height: 100%;
}

.home {
	top: 0px;
	height: 100%;
	.container{
		height: 100%;
		.row{
			height: 100%;
			.homeArticle{
				top: 0px;
				height: 100%;
				left: -10px;
			}
		}
	}
}

//Vertical-Aligment
.homeArticle{
	display: table;
	.centered {
 	   display: table-cell;
    	vertical-align: middle;
	}
}
.logo {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	background: url("../img/logo.png") no-repeat;
	background-size: cover;
}

hr{
	border: 1px dashed white;
}

.list-inline > li{
	@include box-sizing (border-box);
	padding: 0px;
  	width:23.5%;
}
.form-control{
	border-color: rgba(255,255,255,0.9);
	color: white;
	background-color: rgba(255,255,255,0.3);
}
.btn-default{
	border-color: rgba(255,255,255,0.9);
	background-color: rgba(255,255,255,0.7);
	&:hover{
		border-color: rgba(255,255,255,0.9);
		background-color: rgba(255,255,255,0.9);
	}
	&:active{
		@include single-box-shadow(fff, 0, 0, 0, false, false);
		border-color: rgba(255,255,255,0.9);
		background-color: rgba(255,255,255,1);
	}
}


@mixin typescale($basefontsize, $baselineheight){
  $base-font-size: $basefontsize;
  $base-line-height: $baselineheight;
  @include establish-baseline;
  body{
  	font-size: $basefontsize;
  	line-height: baselineheight;
  }
  img{
  	@include rhythm(0, 0, 0, 1.2, $base-font-size); 
  }
  h1{
  	@include rhythm(0.6, 0, 0, 0, $base-font-size);
  	@include adjust-font-size-to($base-font-size*7/4, 1.5);
  }
  h2{
  	@include rhythm(0.3, 0, 0, 0.6, $base-font-size);
  	@include adjust-font-size-to($base-font-size*7/4, 1.5);
  }
  .form-control{
  	@include rhythm(0, 0, 0, 0.5, $base-font-size); 
  }
  .input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn{
  	@include adjust-font-size-to($base-font-size);
  }
  ul{
  	@include rhythm(0, 0, 0, 0, $base-font-size); 
  }
  li{
  	@include adjust-font-size-to($base-font-size);
  	@include rhythm(1, 0, 0, 1, $base-font-size); 
  }
  hr{
  	@include rhythm(0, 0, 0, 0, $base-font-size); 
  }
  .footerPage{
  	@include rhythm(0.7, 0, 0, 0, $base-font-size);
  	small{
	  	@include adjust-font-size-to($base-font-size*0.85, 1.5);
  	}
  }
}

// Visibility utilities
//Phones
@media (max-width: $screen-xs-max) {
  @include typescale (14px, 18px);
  .visible-xs{
  	input{
  		font-size: 18px;
  		text-align: center;
  	}
  }
	.show-xs{
		display: inline;
	}
	.hide-xs{
		display: none;
	}
}
//Tables
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include typescale (16px, 22px);
	.hide-xs{
		display: inline;
	}
	.show-xs{
		display: none;
	}
}
//Medium
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include typescale (18px, 24px);
	.hide-xs{
		display: inline;
	}
	.show-xs{
		display: none;
	}
}
//large
@media (min-width: $screen-lg-min) {
  @include typescale (20px, 24px);
	.hide-xs{
		display: inline;
	}
	.show-xs{
		display: none;
	}
}
